<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sopherwang.message.module_message_list">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:name=".MessageListApplication"
        android:allowBackup="true"
        android:label="MessageList"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".MessageListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
